.InputWrapper {
    display: flex;
    align-items: center;
    border-radius: 48px;
    padding: 4px 8px;
    border: 2px solid var(--input-border);
    width: 100%;
}

.focused {
    border: 2px solid var(--input-accent);
}

.input {
    background: none;
    outline: none;
    border: none;
    width: 100%;
    color: var(--primary-color);
    text-shadow: 0 0 0 var(--primary-color);

    &::placeholder {
        color: #635a5a;
    }
}
